services:
  spark:
    build: .
    image: spark-realtime-custom
    container_name: spark-realtime-app
    ports:
      - "8888:8888" # Jupyter Lab
      - "4041:4040" # Spark UI
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    volumes:
      - ./:/home/jovyan/work
      - ./data:/home/jovyan/work/data
    networks:
      - spark-net
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./scripts/postgres_setup.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge

volumes:
  postgres-data:
